/* The way we lay things out on a page
  - width, height, float, flexbox, css grid, margins, positioning
*/


/*************************************************************/
/************************* Overall ***************************/
/*************************************************************/

div{
  margin: auto;
  text-align: center;
}


/*************************************************************/
/********************* Header (Box A) ************************/
/*************************************************************/

header#block-a{
  height: 75px;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 75px;
}


/*************************************************************/
/************************** Box B ****************************/
/*************************************************************/

div#block-b{
  height: 150px;
  width: 100%;
  line-height: 150px;
}


/*************************************************************/
/************************** Box C ****************************/
/*************************************************************/

div#block-c{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/************************** Box D ****************************/
/*************************************************************/

div#block-d{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/************************** Box E ****************************/
/*************************************************************/

div#block-e{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: left;
}


/*************************************************************/
/************************** Box F ****************************/
/*************************************************************/

div#block-f{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: right;
}


/*************************************************************/
/************************** Box G ****************************/
/*************************************************************/

div#block-g{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: left;
}


/*************************************************************/
/************************** Box H ****************************/
/*************************************************************/

div#block-h{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: right;
}


/*************************************************************/
/************************** Box I ****************************/
/*************************************************************/

div#block-i{
  height: 80px;
  width: 100%;
  line-height: 80px;
  clear: both;
}